@import '../../../styles/settings.scss';
@import '../../../styles/keyframes.scss';

.wrapper {
  height: 70vh;
  width: 90%;
  border-radius: $radius-base;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: $transition;
  .project_details {
    height: 100%;
    width: 100%;
    transition: $transition;
    background: rgba(0, 0, 0, 0.75); 
    animation: background_pulse 3s 3s infinite alternate both;
    border-radius: $radius-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    transition: $transition;
    .buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a {
        color: $color-three;
        margin: $base-size $base-size $base-size 0;
        height: $base-size * 4;
        width: $base-size * 12;
        padding: $base-size;
        border-radius: $radius-base;
        text-align: center;
        font-weight: bold;
        border: 3px solid $color-three;
        border-radius: $radius-base;
        background-image: linear-gradient(90deg, $color-three 50% , rgba(0, 0, 0, 0) 50%);
        background-position: 100% 0;
        background-size: 300% 300%;
        /* animation: standby .5s .5s infinite alternate both; */
        transition-property: background-position, color, text-shadow, box-shadow;
        transition-duration: $transition-time;
        &:first-of-type {
  
        }
        &:hover {
          cursor: pointer;
          background-position: 0 100%;
          color: rgba(0, 0, 0, 1);
          animation: pulse 1s 1s infinite alternate both;
          }
        }
    }
    .text {
      transition: $transition;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-weight: bold;
      }
    }
  }  
}