@import '../../../styles/settings.scss';

.project_details {
  height: 75vh;
  transform: rotateX(30deg);
  a {
    color: $color-success;
    &:hover {
      transform: scale(1.2);
      color: $color-warning;
    }
  }
}