@import '../../../styles/settings.scss';
@import '../../../styles/keyframes.scss';

.wrapper {
  height: 65vh;
  width: 90%;
  padding: calc($base-size * 1);
  border-radius: $radius-base;
  background: $transparent-background;
  box-shadow: 0 0 5px 10px $transparent-background;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: ($base-size * 1.5);
  transition: $transition-time;

  @media (max-width: $media-border) {
    flex-direction: column;
    width: 80%;
  }

  @media (max-width: $media-border) and (orientation: landscape) {
    height: 60dvh;
    flex-direction: row;
  }

  .iframe_wrapper {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $base-size;
    position: relative;

    @media (max-width: $media-border) {
      flex-direction: row;
      height: 50%;
      width: 100%;
      padding-bottom: 0px;
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      height: 100%;
      padding: 0px;
    }

    h3 {
      font-weight: bold;
      text-align: center;
      animation: please_wait 1s infinite alternate both;
    }

    .iframe {
      position: absolute;
      width: 200%;
      height: 200%;
      transform: scale(0.5, 0.5);
      border-radius: calc($radius-base * 3);
      overflow: hidden;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: $media-border) {
        height: 400%;
        width: 400%;
        transform: scale(0.25, 0.25);
        padding-bottom: 0px;
      }
    }
  }

  .project_details {
    height: 100%;
    width: 40%;
    transition: $transition-time;
    border-radius: $radius-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    transition: $transition-time;

    h3 {
      text-align: center;
    }

    @media (max-width: $media-border) {
      height: 50%;
      width: 100%;      
      margin-top: $base-size;
      margin-left: 0px;
      margin-right: 0px;
      padding-right: 0px;
    }

    @media (max-width: $media-border) and (orientation: landscape) {
      height: 100%;
      padding: 0px;
      margin-top: 0px;
    }

    .buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: calc($base-size * 2);

      a {
        color: $color-three;
        margin: 0;
        height: $base-size * 4;
        width: 100%;
        padding: $base-size;
        border-radius: $radius-base;
        text-align: center;
        font-weight: bold;
        border: 3px solid $color-three;
        border-radius: $radius-base;
        background-image: linear-gradient(90deg, $color-three 50% , rgba($color-black, 0) 50%);
        background-position: 100% 0;
        background-size: 300% 300%;
        transition-property: background-position, color, text-shadow, box-shadow;
        transition-duration: $transition-time;



        @media (max-width: $media-border) {
          font-size: $base-size * 1;
          background-position: 0 100%;
          color: rgba($color-black, 1);
          animation: pulse 1s 1s infinite alternate both;
        }

        &:first-of-type {
          @media (max-width: $media-border) {
            animation: none;
          }
        }

        &:hover {
          cursor: pointer;
          background-position: 0 100%;
          color: rgba($color-black, 1);
          animation: pulse 1s 1s infinite alternate both;

          @media (max-width: $media-border) {
            background-position: 0 100%;
            color: rgba($color-black, 1);
            animation: pulse 1s 1s infinite alternate both;
          }
        }
      }
    }

    .text {
      transition: $transition-time;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: bold;

        @media (max-width: $media-border) {
          font-size: $base-size * 1.5;
        }

        @media (max-width: $media-border) and (orientation: landscape) {
          font-size: $base-size ;
        }
      }
    }
  }  

  .project_not_found {
    height: 100%;
    width: 100%;
    transition: $transition-time;
    border-radius: $radius-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: $transition-time;

    a {
      color: $color-three;
      margin: 0;
      height: $base-size * 4;
      width: 100%;
      padding: $base-size;
      margin-bottom: $base-size;
      border-radius: $radius-base;
      text-align: center;
      font-weight: bold;
      border: 3px solid $color-three;
      border-radius: $radius-base;
      background-image: linear-gradient(90deg, $color-three 50% , rgba($color-black, 0) 50%);
      background-position: 100% 0;
      background-size: 300% 300%;
      transition-property: background-position, color, text-shadow, box-shadow;
      transition-duration: $transition-time;

      @media (max-width: $media-border) {
        background-position: 0 100%;
        color: rgba($color-black, 1);
        animation: pulse 1s 1s infinite alternate both;
      }
    }

    h3, strong {
      text-align: center;
    }
  }
}