@import '../../../styles/settings.scss';

.offcanvas {
  background-color: $color-warning;
  color: $color-success;
}

.nav_link {
  color: $color-success;
  font-size: ($base-size * 1.6);
  transform: rotate(10deg);
  transition: $transition;
  &:hover {
    color: $color-warning;
    transform: scale(1.2) rotate(-15deg);
    cursor: pointer;
  }
}