@import '../../../styles/settings.scss';
@import '../../../styles/keyframes.scss';

.offcanvas {
  background: $transparent-background;
  box-shadow: 0 0 5px 10px $transparent-background;
  color: $color-three;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .offcanvas_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;

    .offcanvas_title {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
  }

  .offcancas_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5, h6 {
      text-align: center;

      @media (max-width: $media-border-medium) and (orientation: landscape) {
        font-size: 4vh;
      }

      &:nth-of-type(3) {
        margin-top: calc($base-size * 3);
        margin-bottom: 0px;
      }
    }
  
    h6 {
      font-weight: bold;
      font-size: calc($base-size * 2);
    }
  
    .contact_link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc($base-size * 1.5);

      &:first-of-type {
        margin-top: calc($base-size * 4);
        margin-bottom: $base-size;

        @media (max-width: $media-border-medium) and (orientation: landscape) {
          margin: $base-size;
        }
      }

      &:last-of-type {
        margin-top: calc($base-size * 2);
        margin-bottom: $base-size;

        @media (max-width: $media-border-medium) and (orientation: landscape) {
          margin: $base-size;
        }
      }
  
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .envelope, .telephone {
          color: $color-two;
          margin-bottom: calc($base-size / 2);
          font-size: calc($base-size * 5);
          transition-duration: $transition-time;
          transition-property: color, transform;

          @media (max-width: $media-border) {
            color: $color-four;
            transform: scale(1.2);
          }

          @media (max-width: $media-border-medium) and (orientation: landscape) {
            font-size: 5vh;
          }

          @media (hover) {
            &:hover {
              cursor: pointer;
              color: $color-four;
              transform: rotate(360deg) scale(1.2);
            }
          }
        }
  
        i {
          font-weight: bold;
          font-style: normal;

          @media (max-width: $media-border) {
            color: $color-four;
          }
  
          @media (hover) {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.contact, .btn_close {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  &__link {
    margin: auto;
    margin-right: 0;
    border: $border-size solid $color-three;
    border-radius: $radius-base;
    padding: $base-size * 0.5;
    color: $color-three; 
    font-size: ($base-size * 1.6);
    font-weight: bold;
    background-position: 100% 0;
    background-size: 300% 300%;
    background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
    animation: standby 1s 1s infinite alternate both;
    transition-duration: $transition-time;
    transition-property: background-color, background-position, color;

    @media (hover) {
      &:hover {
        cursor: pointer;
        background-color: $color-three;
        color: rgba($color-black, 1);        
        background-position: 0 100%;
        animation: pulse .5s .5s infinite alternate both;
      }
    }
  }  
}