@import '../../../styles/settings.scss';
@import '../../../styles//keyframes.scss';

.main_page {
  height: 65vh;
  width: 100%;
  background: $transparent-background;
  box-shadow: 0 0 5px 10px $transparent-background;
  border-radius: $radius-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: $base-size * 3;
    font-weight: bold;
    text-align: center;
    animation: text_standby 2s infinite alternate both;
  }
}