@import '../../../styles/settings.scss';

.main_page {
  height: 75vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75); 
  border-radius: $radius-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    font-size: $base-size * 3;
  }
}