@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

html {
  height: 100vh;
}

main {
  margin: 0;
  padding: 0;
  font-family: $font-roboto;
  font-size: ($base-size * 1.1);
  color: $color-three;
  height: 100vh;
  letter-spacing: 0.5px;
  background-image: linear-gradient($color-one, $color-two, $color-four, $color-two, $color-one);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  .containter_background {
    position: relative;
    z-index: 0;
    height: calc(100% - $base-size * 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_background {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-one;  
      transition-duration: $transition-time;
        h2 {
        font-family: $font-pixelify;
        font-size: $base-size * 6;
        height: auto;
        @media (max-width: 720px) {
          font-size: $base-size * 3;
        }
      }
    }
    .main_content {
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  transition-duration: $transition-time;}

ul {
  list-style-type: none;
  li {
    list-style-type: none;
  }
}