@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  font-family: $font-roboto;
  font-size: ($base-size * 1.1);
  color: $color-success;
  height: 100vh;
  background-color: $color-background;
  letter-spacing: 0.5px;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  transition: $transition;
}

ul {
  list-style-type: none;
  li {
    list-style-type: none;
  }
}