@keyframes background_pulse {
    100% {
        background: rgba(0, 0, 0, .25);
    }
    0% {
      background: rgba(0, 0, 0, .05);
  }
  }

  @keyframes background_onHover {
    0% {
        background: rgba(0, 0, 0, 0.1);
    }
  }

@keyframes hamburger_hover {
  100% {
    transform: scale(0.99);
  }
}
  
@keyframes standby {
  100% {
    transform: scale(0.98);
    }
}
  
@keyframes pulse {
  100% {
    border-color: $color-four;
    color: $color-four;
  }
}

@keyframes color_change {
  0% {
    color: $color-four;
  }
  50% {
    color: $color-three;
  }
  70% {
    color: $color-four;
  }
  100% {
    color: $color-four;
  }
}