@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto:wght@300;900&display=swap');

$color-one: #010d80;
$color-two: #178ea3;

$color-three: #ffd103;
$color-four: #e1644e;

$font-pixelify: 'Pixelify Sans', cursive;
$font-roboto: 'Roboto', sans-serif;

$radius-base: 5px;
$radius-round: 50px;
$base-size: 12px;
$border-size: 3px;

$transition-time: 0.5s;

$transition: .5s all;