@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto:wght@300;900&display=swap');

$color-light: #327fd6;
$color-dark: #1e3566;
$color-text: #050e61;
$color-success: #ffd103;
$color-warning: #e1644e;

$color-background: rgb(31, 31, 31);

$font-pixelify: 'Pixelify Sans', cursive;
$font-roboto: 'Roboto', sans-serif;

$radius-base: 5px;
$radius-round: 50px;
$base-size: 12px;
$border-size: 3px;

$transition-time: 0.5s;

$transition: .5s all;