@import '../../../styles/settings.scss';

.nav {
  height: $base-size * 4;
  background: none;
  backdrop-filter: brightness(50%);
  box-shadow: 0 0 5px 10px $transparent-background;
  
  &__container {
    height: 100%;
    transform: translateY(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}