@import '../../../styles/settings.scss';

.nav {
  height: $base-size * 6;
  background: none;
  backdrop-filter: brightness(50%);
  box-shadow: 0 0 5px 10px $transparent-background;

  @media (max-width: $media-border) and (orientation: landscape) {
    height: $base-size * 4;
  }
  
  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
}