@import '../../../styles/settings.scss';

.nav {
  height: $base-size * 6;
  background: none;
  backdrop-filter: brightness(50%);
  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
  
