@import '../../styles/settings.scss';

.contact_page {
    h5 {
      width: 330px;
      text-align: center;
    }
    h5:first-of-type {
      border-top: 2px solid $color-success;
    }
    h5:last-of-type {
      border-bottom: 2px solid $color-success;
    }
    a {
      color: $color-success;
      &:hover {
        transform: scale(1.2);
        color: $color-warning;
      }
    }
  }