@import '../../../styles/settings.scss';
@import '../../../styles/keyframes.scss';

.footer {
  width: 100%;
  height: $base-size * 6;
  position: fixed;
  left: 0;
  bottom: 0;
  background: none;
  backdrop-filter: brightness(50%);
  box-shadow: 0 0 5px 10px $transparent-background;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: $base-size;
  }
  &__icon {
    font-size: ($base-size * 3);
    color: $color-three;
    transition: $transition;
    &:hover {
      color: $color-four;
      transform: scale(1.2) rotate(360deg);
      animation: color_change .5s .5s infinite alternate both;
    }
  }
  &__text {
    position: absolute;
    opacity: 0;
    transform: scale(0.8) translateX(-400px);
    transition: $transition;
    &__active {
      opacity: 1;
      transform: scale(1) translateX(-160px) translateY(3px);
    }
  }
}