@import '../../../styles/settings.scss';
@import '../../../styles//keyframes.scss';

.pagenotfound {
  height: 65vh;
  width: 100%;
  background: $transparent-background;
  border-radius: $radius-base;
  box-shadow: 0 0 5px 10px $transparent-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $media-border) {
    width: 80%;
  }

  h3, h5 {
    font-size: calc($base-size * 4);
    text-align: center;
    animation: text_standby .5s infinite alternate both;
  }

  strong {
    font-size: calc($base-size * 3);
    text-align: center;
  }
}