@import '../../../styles/settings.scss';
@import '../../../styles/keyframes.scss';

.aboutme__page {
  height: 65vh;
  width: 100%;
  background: $transparent-background;
  box-shadow: 0 0 5px 10px $transparent-background;
  border-radius: $radius-base;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $media-border) {
    width: 80%;
  }

  @media (min-width: $media-border) and (max-width: $media-border-big) {
    width: 90%;
  }

  @media (max-width: $media-border) and (orientation: landscape) {
    height: 50vh;
  }

  h3, h5 {
    font-weight: bold;

    @media (max-width: $media-border) and (orientation: landscape) {
      font-size: 2dvw;
    }
  }

  h3 {
    height: 20%;
    width: 100%;
    text-align: center;
    padding-top: $radius-base * 9;
    font-weight: bold;
    filter: blur(1px);

    @media (max-width: $media-border) and (orientation: landscape) {
      padding-top: 0;
      height: 5%;
    }
  }

  h5 {
    width: 49%;
    height: 80%;

    @media (max-width: $media-border) and (orientation: landscape) {
      font-size: 1.5dvw;
    }

    &:first-of-type {
      text-align: right;
      animation: about_standby 4s 1s infinite alternate both; 
    }

    &:last-of-type {
      text-align: left;
      animation: about_standby 4s 5s infinite alternate both; 
    }
  }
}