@import '../../../styles/settings.scss';

.about_me_page {
  height: 65vh;
  width: 100%;
  background: $transparent-background;
  box-shadow: 0 0 5px 10px $transparent-background;
  border-radius: $radius-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}